

  .Atlebold {
    font-family: "AtleHaasBold", serif;
  }

  .Atleregular {
    font-family: "AtleHaasRegular", serif;
  }
  .MonoRegular {
    font-family: "MonumentalExtendedRegular", serif;
  }

  .PPRegular {
    font-family: "PPEditorialNew-Regular", serif;
  }

  .PPul {
    font-family: "PPEditorialNew-Ultralight", serif;
  }

  .MonoLight {
    font-family: "MonumentalExtendedLight", serif;
    font-size: 70%;
  }

  .MonoBlack {
    font-family: "MonumentalExtendedBlack", serif;
  }

