.secProjectsContainer {
    flex-direction: column; 
  align-items: center; 
  position: relative;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .secProjectsContainer {
      flex-direction: row; 
      display: flex;
      margin-left: 15%;
      margin-right: 15%;
  }
}

  @media (max-width: 1024px) {
    .secProjectsContainer {
        flex-direction: column; 
        flex-wrap: wrap; /* Allow items to wrap onto new lines */
        justify-content: center; /* Center items horizontally */
        display: flex;
        margin-left: 50%;
        width: 5%;
        height: auto;
        position: relative;
    }
}

