.secProjectCard {
  width: calc(50% - 2em); /* 50% for 2 in a row, minus a gap */
  height:auto;
  margin: 1em; /* Margin for the gap */
  box-sizing: border-box; /* Include padding and border in the element's width */
  display: inline-flex; /* Display as inline block */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  position: relative; /* Set position relative for video overlay */
}


.videopreview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 

}

.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
 }
 
 .videoPlayer {
  position: relative;
  width: 80%;
  height: 80%; 
  background-color: #000; 
  overflow: hidden; 
 }
 
 .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
 } 

/* Responsive styling */
@media (max-width: 768px) {
  .secProjectCard {
    width: 5%;
    margin-top: 0%;
    display: inline-flex;
  }
  .imageContainer {
    flex-direction: column;
   width: auto;
    }
  .imageContainer img {
    height: 2%;
    width: auto;
  }
}

.imageContainer {
  position: relative;
  text-align: center;
}

.imageContainer img {
  height: 25em;
  width: auto;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers items vertically */
  margin-top: 0.8em;
}

.videoTitle {
  text-align: left;
  margin: 0;
  flex: 10;
  font-family: "AtleHaasBold", sans-serif;
}

.videoProducer {
  text-align: right;
  margin: 0;
  white-space: nowrap;
  font-family: "AtleHaasRegular", sans-serif;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the play icon */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the icon */
  z-index: 1; /* Ensure the icon is above the image */
  color: white;
  outline: none;
 }

 .playI {
  fill: white;
  width: 10%;
  outline: none;
}