.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 10 20px; /* Add a solid background color if needed */
    z-index: 1000; /* High z-index for the navbar to be on top */
    box-sizing: border-box;
}

.logoSection {
  width: 80px;
  height: 80px;
  margin-top: 40px;
 margin-left: 40px;
 padding: 1px;
 }

.socialMedia a {
  margin: 0 8px;
  
}

.socialMedia img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  color: #E0DECD;
}
      

    
      .navLinks a {
        margin: 0 10px;
        text-decoration: none; /* Optional: removes underline from links */
        color: #E0DECD;
        ; /* Optional: ensures the links use current color */
        font-family: "AtleHaasBold", sans-serif;
    }
      
      .navLinks a.regularLink {
        font-weight: normal; /* Regular font when not active */
      }
      
      .navLinks a.activeLink {
        font-weight: bold; /* Bold font when active */
      }

      @media screen and (max-width: 768px) {
        .navContainer {
            flex-direction: row; /* Cambia la dirección del flujo a columna */
            height: auto; /* Altura automática para adaptarse al contenido */
            padding: 10px; /* Ajusta el relleno */
        }
    
        .logoSection {
          width: 50%;
        }
        
        .socialMedia, .navLinks {
          width: 100%; /* Ancho completo para ocupar todo el ancho de la pantalla */
          margin-bottom: 10px; /* Espacio entre las secciones */
          margin-left: 20%;

      }
  
      .socialMedia a {
          margin: 0 1px; /* Espacio entre cada enlace */
      }
    }