

.linkSection {
    display: flex;
    gap: 21em;
    font-size: 110%;
    font-weight: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    font-family: "AtleHaasBold", sans-serif;
    font-weight: bold;
    color: #E0DECD;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .linkSection {
        gap: 0.5em; /* Smaller gap for mobile devices */
        font-size: 80%;
    }
}

