.navContainer {
    display: flex;
    width: 100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 40px;
    z-index: 1;
    
}

.logoSection {
position: relative; /* Required for z-index to work */

 width: 1300px;
 height: 180px;
 margin: 0px;
 justify-content: center;
}

.linkSection {
    display: flex;
    gap: 25em;
    font-size: 18px;
    font-weight: 600;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    font-family: "AtleHaasBold", sans-serif;
    font-weight: bold;
}

