.logoSection { 
     width: 25%;
     height: auto;
    }

.navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0%;
        margin-top: 5%;
        margin-bottom: 1%;
        padding: 2%;
        padding-top: 0%;
        padding-bottom: 0%;
        
    }

.words 
  {
        font-family: "AtleHaasRegular", serif;
        font-size: 100%;
        color: #E0DECD;

}

@media (max-width: 768px) {
    .navContainer{
        display: flex;

    }
    .logoSection {
        width: 50%; /* Adjust the width to make the logo larger */
    }

    .words {
        font-size: 1em; /* Adjust the font size to make the text smaller */
    }
}